<div id="container" height="450"></div>

<table class="table">
  <% for location in @locations %>
    <tr>
      <td><%=location.name%></td>
      <% for i in 0..11 %>
        <% if @city_month_stat[location] == nil then %>
          <td></td>
        <% else %>
          <td><%= @city_month_stat[location][i] %></td>
        <% end %>
      <% end %>
      <tr>
  <% end %>
</table>


<script type="text/javascript">
$(function () {
  <% charts = chart() %>
  $('#container').highcharts({
    chart: { type: 'column' },
    title: { text: 'Статистика по городам за <%=@year%> год' },
    xAxis: {
      type: 'category',
      labels: {
        rotation: -45,
        align: 'right',
        style: {
          fontSize: '10px',
          fontFamily: 'Verdana, sans-serif'
        }
      }
    },
    yAxis: { min: 0, title: { text: 'Очки' } },
    legend: { enabled: false },
    series: [{
      name: 'Очки',
      data: [
        <% charts.each do |key, value| %>
          {name:'<%=key%>', y:<%=value%>},
        <% end %>
      ]
    }]
  });
});
</script


<%= render partial: "report/form", :locals => {locations: @locations} %>
