<div class="jumbotron">
  <div class="row">
  	<div class="col-md-5">
  		<canvas id="myChart" width="400" height="300"></canvas>
  	</div>
    
    <div class="col-md-7">
    	<%= render partial: "report/form", :locals => {locations: @locations}%>
    </div>
  </div>
</div>

<script type="text/javascript">
	<% ch = chart() %>
	var ctx = document.getElementById("myChart").getContext("2d");
	var myNewChart = new Chart(ctx).Line({
		labels: [ "", "", "", "", "", "", "", "", "", "", "", ""],
		datasets: [
			{ data: [
				<%= ch[0] %>,
				<%= ch[1] %>,
				<%= ch[2] %>,
				<%= ch[3] %>,
				<%= ch[4] %>,
				<%= ch[5] %>,
				<%= ch[6] %>,
				<%= ch[7] %>,
				<%= ch[8] %>,
				<%= ch[9] %>,
				<%= ch[10] %>,
				<%= ch[11] %>] }
		]
	});
</script>