

<% if @reports.length > 0 then %>
  <% for report in @reports do %>
    <% if @month == 0 then @month = report.date.month; break; end %>
  <% end %>

  <ul class="pagination">
    <% for report in @reports do %>
      <% if report.date.month == @month then %>
      <li class="active">
      <% else %>
      <li>
      <% end %>

        <a href="/report/<%=@location.permalink%>/<%=@year%>/<%=report.date.month%>"><%=l DateTime.new(2014, report.date.month).to_date, format: :month %></a>
      </li>
    <% end %>
  </ul>

  <% for report in @reports do %>
    <% if report.date.month != @month && @month != nil then next end %>
    <% sum = summary(report) %>
    
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr class="info">
          <th><%=t("report.distributor")%></th>
          <th><%=t("report.mahabig")%></th>
          <th><%=t("report.big")%></th>
          <th><%=t("report.medium")%></th>
          <th><%=t("report.small")%></th>
          <th><%=t("report.quantity")%></th>
          <th><%=t("report.scores")%></th>
        </tr>
      </thead>

      <% for record in records(report) %>
        <tr>
          <td><%= record.distributor %></td>
          <td><%= record.mahabig %></td>
          <td><%= record.big %></td>
          <td><%= record.medium %></td>
          <td><%= record.small %></td>
          <td><%= quantity(record) %></td>
          <td><%= points(record) %></td>
        </tr>
      <% end %>  

      <tr class="info">
        <td><%=t("report.summary")%></td>
        <td><%= sum[:mahabig] %></td>
        <td><%= sum[:big] %></td>
        <td><%= sum[:medium] %></td>
        <td><%= sum[:small] %></td>
        <td><%= sum[:quantity] %></td>
        <td><%= sum[:points] %></td>
      </tr>

      <tfoot>
        <tr class="info">
          <td></td>
          <td><%=t("report.mahabig")%></td>
          <td><%=t("report.big")%></td>
          <td><%=t("report.medium")%></td>
          <td><%=t("report.small")%></td>
          <td><%=t("report.quantity")%></td>
          <td><%=t("report.scores")%></td>
        </tr>
      </tfoot>   
    </table> 
  <% end %>
<% else %>
  <%= t("report.not_found") %>
<% end %>